@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 229, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.1);
}
